@use 'variables';
@use 'fonts';
@use 'normalize.css';
@use 'section.scss';

* {
  box-sizing: border-box;
}

:root,
html,
body {
  background: #1b1f22;
  height: 100%;
  font-size: 16px;
  overflow: hidden;
  font-family: SansSource3, sans-serif;
  font-weight: 400;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
